<main class="auth-page">
    <button id="language-button" class="language-button" type="button">
        <img class="language-button__icon" src="/assets/pages/login/dia_cau_language.svg" alt="">
        <span class="language-button__text">Tiếng Việt</span>
        <img class="language-button__arrow" src="/assets/pages/login/mui_ten_drop.svg" alt="">
    </button>

    <div class="auth-banner">
        <img class="auth-banner__image" src="/assets/pages/login/auth_banner.svg" alt="Welcome to VSS">
        <div class="auth-banner__caption">
            <h1 class="auth-banner__title">Hệ thống quản lý chat đa nền tảng</h1>
            <p class="auth-banner__description">Tiết kiệm thời gian tư vấn và chăm sóc khách hàng</p>
        </div>
        <nav class="auth-banner__pagination">
            <span class="auth-banner__dot auth-banner__dot--active"></span>
            <span class="auth-banner__dot"></span>
            <span class="auth-banner__dot"></span>
        </nav>
    </div>

    <section class="auth-page__left"></section>

    <section class="auth-page__right">
        <div class="auth-subcard">
            <header class="auth-subcard__header">
                <a routerLink="/login" class="auth-subcard__back">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 20px; height: 20px;"><polyline points="15 18 9 12 15 6"/></svg>
                    <span>Quay lại</span>
                </a>
                <h1 class="auth-subcard__header-title">Quên mật khẩu</h1>
            </header>

            <div class="auth-subcard__body">
                <div class="auth-subcard__illustration-container">
                    <img class="auth-subcard__illustration" src="/assets/pages/forgot-password/forgot_password.svg" alt="Minh họa Quên mật khẩu">
                </div>

                <h2 class="auth-subcard__title">Bạn đã quên mật khẩu?</h2>
                <p class="auth-subcard__description">Vui lòng nhập tài khoản hoặc email để nhận mã xác nhận đổi lại mật khẩu</p>

                <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="auth-subform" novalidate>
                    <div class="auth-subform__field">
                        <input type="text" id="account" formControlName="account" class="auth-subform__input" placeholder=" ">
                        <label for="account" class="auth-subform__label" data-default="Nhập tài khoản hoặc email" data-active="Tài khoản hoặc email"></label>
                    </div>

                    <button type="submit" class="auth-subform__submit" [class.auth-subform__submit--active]="forgotForm.valid" [disabled]="forgotForm.invalid">
                        Tiếp tục
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
